body {
    font-family: "Roboto", sans-serif;
    font-size: 13pt;
    line-height: 1.3;
}
h1, h2, h3 { 
    margin-top: 30px; 
    margin-bottom: 15px;    
}
hr { 
    border: 0;
    border-top: 1px dotted #c0c0c0;
}
sup { font-size: 10px; }
img { width: 200px; }
.cropcircle {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.content {
    max-width: 640px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}
@media screen and ( max-width: 720px ) {
    .content {
        margin: 0 40px 0 40px;    
    }
}
.marginalia {
    font-size: 12pt;
    font-style: italic;
    color: DarkSlateGray;
    display: none;
}
@media ( min-width: 960px ) {
    .marginalia {
        position: relative;
        font-size: 10pt;
        display: block;
    }
    .marginalia_text {
        position: absolute;
        width: 120px;
        right: 100%;
        padding-right: 20px;
        text-align: right;
    }
}
.title {
    font-size: 12pt;
}
.authors {
    font-size: 10pt;
    font-style: italic;
}
.venue {
    font-size: 10pt;
}
.date {
    font-size: 10pt;
    font-style: italic;
    color: DarkRed;
}
.footnote {
    font-size: 10pt;
    color: DarkSlateGray;
}

